.footerbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    height: 50px;
    width: 100%;
    border-top: 1px solid var(--border-color);
    &__left, &__left__text,  &__left__reseau,
    &__right, &__right__text, &__right__icon{
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__left__reseau svg,
    &__right__icon svg{
        height: 24px;
        width: 24px;
    }
    &__left, &__right{
        &__text{
            padding: 0 24px;
        }
        &__reseau,
        &__icon{
            padding: 0 16px;
        }
    }
    &__left{
        &__text, &__reseau{
            border-right: 1px solid var(--border-color);
        }
    }
    &__right{
        &__text, &__icon{
            border-left: 1px solid var(--border-color);
        }
    }
    @media (max-width: 768px) {
        &__left, &__right{
            &__text{
                display: none;
            }
        }
    }
    @media (max-width: 420px) {
        &__left, &__right{
            &__reseau,
            &__icon{
                padding: 0 12px;
            }
        }
    }
}