.themes{
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: 0;
    width: 100%;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
    background-color: var(--secondary-background-color);
    border-radius: 8px 8px 0px 0px;
    &__open {
        height: calc(100% - 50px);
        animation: border_themes_open 0.5s linear forwards;
    }
    &__close{
        animation: border_themes_close 0.5s linear forwards;
    }
    &__icon__close{
        position: absolute;
        top: 8px;
        right: 8px;
        svg{
            width: 32px;
            height: 32px;
        }
    }
    &__container__svg{
        height: 110.5px;
        width: 100%;
        flex: 0 0 auto;
        &__content{
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(50%);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid var(--border-color);
            &__text{
                &__icon {
                    transform-origin: center;
                    animation: rotate 10s linear infinite;
                    width: 120px;
                    height: 120px;
                }
                &__content{
                    font-size: 9.2px;
                    fill: var(--color);
                }
            }
            &__cercle{
                position: absolute;
                top: 62.5px;
                left: 50%;
                transform: translateX(-50%) rotate(180deg);
                transition: all 0.3s ease-in-out;
                &__icon{
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
    &__container__choice{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex: 1 1 auto;
        overflow-y: auto;
        height: 100%;
        &__content{
            position: relative;
            width: 100%;
            &__color{
                background-color: var(--secondary-background-color);
                position: sticky;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                border-top: 1px solid var(--border-color);
                padding: 24px;
                width: 100%;
                &:last-child{
                    border-bottom: 1px solid var(--border-color);
                }
                &__palette{
                    display: flex;
                    border: 1px solid white;
                }
                &__box{
                    width: 20px;
                    height: 10px;
                    border-right: 1px solid white;
                    &:last-child{
                        border-right: unset;
                    }
                }
            }
        }
    }
    @media (max-width: 420px) {
        &__container__choice__content__color{
            flex-direction: column;
            padding: 16px;
        }
    }
    @keyframes border_themes_open {
        0%, 99.9999%{
            border-top: 1px solid var(--border-color);
        }
        100% {
            border-top: unset;
        }
    }
    @keyframes border_themes_close {
        0%, 99.9999%{
            border-top: 1px solid var(--border-color);
        }
        100% {
            border-top: unset;
        }
    }
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}