.themes{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
    &__container{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid var(--border-color);
    }
    &__text{
        &__svg {
            transform-origin: center;
            animation: rotate 10s linear infinite;
            width: 120px;
            height: 120px;
        }
        &__content{
            font-size: 9.2px;
            fill: var(--color);
        }
    }
    &__cercle{
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%) rotate(-0deg);
        cursor: pointer;
        &__svg{
            width: 24px;
            height: 24px;
            path{
                fill: var(--color);
            }
        }
    }
    @keyframes rotate {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }
}
