.headerbar{
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    border-bottom: 1px solid var(--border-color);
    height: 56px;
    width: 100%;
    &__nav, &__name{
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__nav{
        width: 100%;
    }
    &__name{
        flex: 0 0 auto;
        border-right: 1px solid var(--border-color);
        padding: 0 150px 0 24px;
    }
    @media (max-width: 991px) {
        &__name {
            padding: 0 24px;
        }
    }
    @media (max-width: 768px) {
        &__nav{
            flex-direction: column;
            position: absolute;
            top: 56px;
            left: 0;
            z-index: 3;
            height: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            overflow: hidden;
            background-color: var(--secondary-background-color);
            transition: height 0.3s ease-in-out;
            &__open{
                height: calc(100% - 56px);
            }
        }
        &__name{
            border-right: unset;
        }
    }
}