.headerbar{
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    border-bottom: 1px solid var(--border-color);
    border-radius: 8px 8px 0px 0px;
    height: 56px;
    width: 100%;
    &__nav, &__name{
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__nav{
        width: 100%;
    }
    &__name{
        flex: 0 0 auto;
        border-right: 1px solid var(--border-color);
        padding: 0 24px;
        width: 300px;
    }
    @media (max-width: 991px) {
        &__name {
            padding: 0 24px;
            width: auto;
        }
    }
    @media (max-width: 768px) {
        &__nav{
            flex-direction: column;
            position: absolute;
            top: 56px;
            left: 0;
            z-index: 3;
            height: 0;
            border-radius: 0px 0px 8px 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: var(--secondary-background-color);
            transition: height 0.5s ease-in-out;
            overflow: hidden;
            &__open{
                height: calc(100% - 56px);
                animation: border_header_open 0.5s linear forwards;
            }
            &__close{
                animation: border_header_close 0.5s linear forwards;
            }
        }
        &__name{
            border-right: unset;
        }
    }
    @media (max-width: 420px) {
        &__name {
            padding: 0 16px;
            font-size: 14px;
        }
    }
    @keyframes border_header_open {
        0%, 99.9999%{
            border-bottom: 1px solid var(--border-color);
        }
        100% {
            border-bottom: unset;
        }
    }
    @keyframes border_header_close {
        0%, 99.9999%{
            border-bottom: 1px solid var(--border-color);
        }
        100% {
            border-bottom: unset;
        }
    }
}