.contact{
    display: flex;
    height: 100%;
    overflow: hidden;
    &__container{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        &__form{
            flex: 1 1 auto;
            overflow: auto;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 100%;
                background-color: var(--border-color);
                z-index: 1;
            }
            &__content{
                display: flex;                
            }
        }
    }
    &__title__mob{
        padding: 24px;
    }
    @media (max-width: 991px) {
        &__container__form__content{
            flex-direction: column;
        }
    }
    @media (min-width: 769px) {
        &__title__mob{
            display: none;
        }
    }
    @media (max-width: 768px) {
        &{
            flex-direction: column;
            overflow: auto;
        }
    }
    @media (max-width: 420px) {
        &__title__mob{
            padding: 16px;
            font-size: 14px;
        }
    }
}