.projects{
    &__bar__collapse__languages{
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 12px;
        padding: 24px 24px 0 24px;
        &__language{
            display: flex;
            align-items: center;
            column-gap: 24px;
            &:hover &__checkbox,
            &__active &__checkbox{
                box-shadow: 0 0 2px var(--color);
            }
            &__checkbox{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                border: 1px solid var(--border-color);
                border-radius: 2px;
                background-color: var(--secondary-background-color-opacity);
                transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
                svg{
                    opacity: 0%;
                    height: 16px;
                    color: var(--primary-background-color);
                    transition: opacity 0.3s ease-in-out;
                    width: auto;
                }
            }
            &__active &__checkbox{
                background-color: var(--color);
                svg{
                    opacity: 100%;
                }
            }
            &__active &__container{
                &__icon svg{
                    opacity: 100%;
                }
                &__name{
                    color: #fff;
                }
            }
            &__container{
                display: flex;
                align-items: center;
                column-gap: 12px;
                &__icon{
                    display: flex;
                    svg{
                        height: 24px;
                        width: auto;
                        opacity: 40%;
                        transition: opacity 0.3s ease-in-out;
                    }
                }
                &__name{
                    transition: color 0.3s ease-in-out;
                }
            }
        }
        @media (max-width: 420px) {
            &{
                padding: 16px 16px 0 16px;
                &__language{
                    column-gap: 16px;
                    &__container{
                        column-gap: 8px;
                        &__name{
                            font-size: 14px;
                        }
                    }
                }
            }
            
        }
    }
}