.projects{
    display: flex;
    height: 100%;
    overflow: hidden;
    &__container{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__title__mob{
        padding: 24px;
    }
    @media (min-width: 769px) {
        &__title__mob{
            display: none;
        }
    }
    @media (max-width: 768px) {
        &{
            flex-direction: column;
            overflow-y: auto;
        }
    }
    @media (max-width: 420px) {
        &__title__mob{
            padding: 16px;
            font-size: 14px;
        }
    }
}