.projects{
    &__container__title{
        flex: 0 0 auto;
        height: 44px;
        width: 100%;
        border-bottom: 1px solid var(--border-color);
        &__content{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 32px;
            height: 100%;
            width: fit-content;
            border-right: 1px solid var(--border-color);
            padding: 0 24px;
            &__icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
            }
            svg{
                width: 20px;
                height: auto;
            }
        }
        @media (max-width: 991px) {
            &__content{
                max-width: 400px;
            }
            
        }
        @media (max-width: 800px) {
            &__content{
                max-width: 350px;
            }
            
        }
        @media (max-width: 768px) {
            &{
                display: none;
            }
        }
    }
}