.App {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    background-color: var(--secondary-background-color-opacity);
    border: 1px solid var(--border-color);
    color: var(--color);
    border-radius: 8px;
    max-width: 1800px;
    margin: auto;
    .routes_container{
        flex: 1 1 auto;
        height: 100%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .text-hover{
        transition: color 0.3s ease-in-out;
    }
    .text-hover:hover{
        color: #FFFFFF;
    }
    .mouse-hover svg {
        pointer-events: none;
    }
    .code__color__purple{
        color: #C98BDF;
    }
    .code__color__blue{
        color: #4D5BCE;
    }
    .code__color__green{
        color: #43D9AD;
    }
    .code__color__red{
        color: #E99287;
    }
    .code__color__orange{
        color: #FEA55F;
    }
    .code__color__purple,
    .code__color__blue,
    .code__color__green,
    .code__color__red,
    .code__color__orange{
        font-weight: 500;
    }
    @media (max-width: 768px) {
        .custom-cursor {
            // display: none;
        }
    }
}