.App {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--color);
    border-radius: 8px;
    .routes_container{
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .text-hover{
        transition: color 0.3s ease-in-out;
    }
    .text-hover:hover{
        color: #FFFFFF;
    }
    .mouse-hover svg {
        pointer-events: none;
    }
}