// orange
:root {
    --body-color: #1A0D00;
    --background-color: #331A00;
    --border-color: #6D432C;
    --action-color: #FF8C00;
    --color: #C5A179;
}
// yellow
:root {
    --body-color: #1A1800;
    --background-color: #332F00;
    --border-color: #6D632C;
    --action-color: #FFD700;
    --color: #C5B579;
}
// blue
:root {
    --body-color: #010C15;
    --background-color: #011627;
    --border-color : #1E2D3D;
    --action-color : #00BFFF;
    --color : #607B96;
}
// brown
:root {
    --body-color: #1A0D00;
    --background-color: #331A00;
    --border-color: #6D432C;
    --action-color: #FF8C69;
    --color: #C5A179;
}
// beige
:root {
    --body-color: #1A1510;
    --background-color: #332B21;
    --border-color: #6D5E4D;
    --action-color: #FFDAB9;
    --color: #C5B39A;
}
// purple
:root {
    --body-color: #12001A;
    --background-color: #230033;
    --border-color : #5A2C6D;
    --action-color : #E040FB;
    --color : #A879C5;
}
// green
:root {
    --body-color: #001A00;
    --background-color: #003300;
    --border-color: #2C6D2C;
    --action-color: #00FF84;
    --color: #79C57A;
}
// pink
:root {
    --body-color: #1A0010;
    --background-color: #330021;
    --border-color: #6D2C4D;
    --action-color: #FF007F;
    --color: #C57AA5;
}
// red
:root {
    --body-color: #1A0000;
    --background-color: #330000;
    --border-color: #6D2C2C;
    --action-color: #FF1744;
    --color: #C57A7A;
}