// blue
:root {
    --primary-background-color: #010C15;
    --secondary-background-color: #011e35;
    --secondary-background-color-opacity: #011e35CC;
    --border-color: #1E2D3D;
    --primary-action-color: #00BFFF;
    --secondary-action-color: #00ff00;
    --primary-shape-color: #43d9ad;
    --secondary-shape-color: #4d5bce;
    --color: #607B96;
}

// red
:root {
    --primary-background-color: #2A0000;
    --secondary-background-color: #3F0613;
    --secondary-background-color-opacity: #3F0613E6;
    --border-color: #8B1A1A;
    --primary-action-color: #FF4500;
    --secondary-action-color: #FF6F00;
    --primary-shape-color: #FF9B3D;
    --secondary-shape-color: #FF4F4F;
    --color: #D95C5C;
}

// purple
:root {
    --primary-background-color: #120015;
    --secondary-background-color: #1E0038;
    --secondary-background-color-opacity: #1E00388C;
    --border-color: #3C0F5B;
    --primary-action-color: #8000FF;
    --secondary-action-color: #D5006D;
    --primary-shape-color: #FF94C2;
    --secondary-shape-color: #D600FF;
    --color: #A073C0;
}