.home{
    &__code{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
        height: 100%;
        overflow: hidden;
        flex: 0 0 55%; 
        padding-right: 48px;  
        &__content{
            display: flex;
            flex-direction: column;
            row-gap: 8px;
            padding: 24px;
            border-radius: 16px;
            border: 1px solid var(--border-color);
            background-color: var(--primary-background-color);
            font-size: 16px;
            color: var(---color);
            white-space: nowrap;
            &:nth-child(2), &:nth-child(4){
                opacity: 40%;
            }
            &:nth-child(1), &:nth-child(5){
                opacity: 25%;
            }
        }
    }
    
    @media (max-width: 1400px) {
        &__code__content{
            font-size: 14px;
        }
    }
    @media (max-width: 1300px) {
        &__code{
            flex: 0 0 50%; 
            &__content{
                font-size: 12px;
            }
        }
    }
    @media (min-width: 1201px) and (max-height: 600px), (max-width: 1200px) {
        &__code {
            display: none;
        }
    }
}