.about{
    display: flex;
    height: 100%;
    overflow: hidden;
    &__container{
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 44px;
            left: 40%;
            transform: translateX(-50%);
            width: 1px;
            height: calc(100% - 44px);
            background-color: var(--border-color);
            z-index: 1;
        }
        &__infos{
            flex: 1 1 auto;
            overflow-y: auto;
            &__content{
                display: flex;                
            }
        }
    }
    &__title__mob{
        padding: 24px;
    }
    @media (max-width: 1200px) {
        &__container{
            &::after{
                left: 45%;
            }
        }
    }
    @media (max-width: 991px) {
        &__container{
            &::after{
                display: none;
            }
            &__infos__content{
                flex-direction: column;
            }
        }
    }
    @media (min-width: 769px) {
        &__title__mob{
            display: none;
        }
    }
    @media (max-width: 768px) {
        &{
            flex-direction: column;
            overflow-y: auto;
        }
    }
    @media (max-width: 420px) {
        &__title__mob{
            padding: 16px;
            font-size: 14px;
        }
    }
}