.about{
    &__container__infos__content__text{
        flex: 0 0 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 120px 24px 48px 24px;
        &__center{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 8px;
            max-width: 600px;
            width: fit-content;
            height: fit-content;
            p{
                word-break: break-word;
                overflow-wrap: anywhere;
            }
        }
    }
    @media (max-height: 900px), (max-width: 991px) {
        &__container__infos__content__text{
            padding: 48px 24px 24px 24px;
        }
    }
    @media (max-width: 991px) {
        &__container__infos__content__text{
            padding: 48px 24px 24px 24px;
            &__center{
                max-width: 100%;
            }
        }
    }
    @media (max-width: 768px) {
        &__container__infos__content__text{
            padding: 48px 24px 24px 24px;
        }
    }
    @media (max-width: 420px) {
        &__container__infos__content__text{
            padding: 32px 16px 16px 16px;
            &__center{
                font-size: 14px;
            }
        }
    }
}